<h1>Hello, {{user?.userName}}!</h1>

  <div class="Info">
    <br>
    <div>{{user?.aboutMe}} </div>
    <br>
    <div>{{user?.firstName}}  {{user?.lastName}}</div>
    <div>Age: {{user?.age}}</div>
  </div>
   <br>
  <div class="divider"></div>

  <div class="Info">
    <h5>Contact information:</h5> 
    <br>
    <div>Email: {{user?.email}} </div>
    <div>Phone: {{user?.phoneNumber}}</div>
    <br>
  </div>
  <div class="Info"> 
    <h5>Location:</h5>
    <br>
    <div>{{user?.city}}, {{user?.country}} </div>
    <br>
  </div>
  <div class="Info"> 
    <h5>Education:</h5>
    <br>
    <div>University:  {{user?.university}} </div>
    <br>
  </div>

 <div>
    <a [routerLink]="['/profile']">
        <button class="btn btn-primary">Edit profile</button>
    </a>
</div>
<br> 


<!-- 
<div>
    <button type="button" [hidden] = "isStudents" class="btn btn-success" (click)="showStudents()">Show students</button>
    <button type="button" [hidden] = "!isStudents" class="btn btn-warning" (click)="showStudents()">Hide students</button>

    <button type="button" [hidden] = "isTests" class="btn btn-success" (click)="showTests()">Show tests</button>
    <button type="button" [hidden] = "!isTests" class="btn btn-warning" (click)="showTests()">Hide tests</button>
</div>



<div class="studentsByTeacher" [hidden] = "!isStudents">
    <h3>Students:</h3>
    <br>
    <app-students-by-teacher></app-students-by-teacher>
</div>


<div class="studentsByTeacher" [hidden] = "!isTests">
    <h3>Tests:</h3>
    <br>
    <app-tests-by-teacher *ngFor="let test of tests" 
    [id]="test.id"
    [name]="test.name" 
    [isOpen]="test.isOpen"
    [openedDate]="test.openedDate" 
    [deadline]="test.deadline">

    </app-tests-by-teacher>
</div> -->

