<h1>Hello, {{user?.userName}}!</h1>

  <div class="Info">
    <br>
    <div>{{user?.aboutMe}} </div>
    <br>
    <div>{{user?.firstName}}  {{user?.lastName}}</div>
    <div>Age: {{user?.age}}</div>
  </div>
   <br>
  <div class="divider"></div>

  <div class="Info">
    <h5>Contact information:</h5> 
    <br>
    <div>Email: {{user?.email}} </div>
    <div>Phone: {{user?.phoneNumber}}</div>
    <br>
  </div>
  <div class="Info"> 
    <h5>Location:</h5>
    <br>
    <div>{{user?.city}}, {{user?.country}} </div>
    <br>
  </div>
  <div class="Info"> 
    <h5>Education:</h5>
    <br>
    <div>University:  {{user?.university}} </div>
    <br>
  </div>
