<div >
  <label>Find your friends</label>
</div>
<form [formGroup]="searchFormModel" autocomplete="off" (submit)="search(searchFormModel.value)">
  <div class="form-group">
    <label>Name</label>
    <input class="form-control" formControlName="Name">
  </div>
  <div class="form-group">
    <label>Email</label>
    <input class="form-control" formControlName="Email">
  </div>
  <div class="form-group">
  <label>Country</label>
  <select  formControlName="Country">
    <option value="USA">USA</option>
    <option value="England">England</option>
    <option value="Ukraine">Ukraine</option>
  </select>
</div>
<div class="form-group">
  <label>City</label>
  <select  formControlName="City">
    <option value="Stars Hollow">Stars Hollow</option>
    <option value="Stars Hollow">New York</option>
    <option value="London">London</option>
    <option value="Kyiv">Kyiv</option>
  </select>
</div>
<div class="form-group">
  <label>University</label>
  <select  formControlName="University">
    <option value="Harvard">Harvard</option>
    <option value="Oxford">Oxford</option>
    <option value="MIT">MIT</option>
    <option value="KNEU">KNEU</option>
  </select>
</div>
<h4 class="form-group">Age</h4>
<div class="form-group">
  <label>From </label>
  <input class="form-control" formControlName="AgeMin">
</div>
<div class="form-group">
  <label>To</label>
  <input class="form-control" formControlName="AgeMax">
</div>
  <div class="form-row">
    <div class="form-group col-md-8 offset-md-2">
      <button type="submit" class="btn btn-lg btn-block">Search</button>  
  </div>
  </div>
</form>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="searchResults">
    <thead>
      <tr>
        <th>Username</th>
        <th>Age</th>
        <th>Email</th>
        <th>Summary</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of searchResults">
        <td>{{   user.userName }}</td>
        <td>{{   user.age }}</td>
        <td>{{   user.email }}</td>
        <td>{{   user.aboutMe }}</td>
        <td><div>
              <button class="btn btn-primary" (click)="addFriend(user)">Add </button>
      </div></td>
      </tr>
    </tbody>
  </table>
